* {
  margin: 0;
}

.content {
  border: 5px solid black;
  font-family: sans-serif;
  color: rgb(66, 66, 66);
  width: 880px;
  margin: 30px auto;
  position: relative;
}

h2,
h3,
.price {
  color: black;
  text-transform: uppercase;
}

.sale {
  position: absolute;
  top: -15px;
  left: -34px;
  background-color: red;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: small;
  padding: 7px;
}

h2 {
  text-align: center;
  background-color: rgb(244, 246, 248);
  margin-top: 15px;
  margin-bottom: 25px;
  letter-spacing: -1px;
}

article > p > strong {
  font-weight: 900;
  color: black;
  font-size: large;
}

.price {
  margin-bottom: 24px;
}

div > p > strong {
  font-weight: bold;
  font-size: larger;
}

.shipping {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(121, 121, 121);
  margin-bottom: 10px;
  margin-top: 2px;
}

.info {
  margin-bottom: 25px;
  clear: both;
}

.info-link {
  color: rgb(0, 0, 0);
}
.info-link:hover {
  color: rgb(7, 7, 7);
  text-decoration: none;
}

ul {
  padding-left: 15px;
}

.colors {
  margin-top: 40px;
}

div .red {
  background-color: red;
}

div .blue {
  background-color: blue;
}

div .green {
  background-color: rgb(17, 241, 0);
}

div .black {
  background-color: rgb(0, 0, 0);
}

div .pink {
  background-color: rgb(212, 133, 102);
  margin-right: 0;
}

.color {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 30px;
}

h3 {
  margin-bottom: 20px;
}

li {
  list-style-type: square;
  margin-bottom: 8px;
  margin-left: 0;
}

.add-cart {
  color: white;
  background-color: black;
  font-size: 16px;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  border-top: 3px solid black;
  padding: 9px;
}

.add-cart:hover {
  color: black;
  background-color: #ffffff;
}

.shoe-img {
  float: left;
}

.comp-layout1 {
  float: left;
  width: 240px;
  margin-left: 50px;
  margin-top: 30px;
}

.mini-layout .price {
  float: left;
}

.mini-layout .shipping {
  float: right;
}

.comp-layout2 {
  float: right;
  margin-top: 30px;
  margin-right: 20px;
  width: 240px;
}
